h1, h4, h6 {
  text-align: center;
  margin: 3%;
}

.container {
  max-width: 150.0rem;
  padding: 1%
}

.center {
  text-align: center;
}

#new-game {
  width: 10%;
  display: block;
  margin: auto;
}

.rules {
  font-weight: normal;
}